<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week 3 Analyse</title>
    <style type="text/css">
        .colorname{color: {{color}}}

    </style>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ modelform.as_p | safe}}
        <button name="nameButton" type="submit">Save</button>
        <input style="font-weight: bold" type="text" title="test">
    </form>

    <button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><b>B</b>
    </button>












</body>
</html>
